body {
  background-color: #f5f5f1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-wrapper {
  width: 50%;
  margin: 0 auto;
}

img {
  transition: all 2s;
}

img:hover {
  transform: scale(1.5);
}

.image-container {
  overflow: hidden;
}